# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Local env files
.env
venv/
env/
.venv/
env.bak/

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg
*.whl
*.gz

# IDE specific
.vscode/
.idea/

# Other
*.log
*.swp
*.swo
*.DS_Store
Thumbs.db
